page-home {
	ion-card-content.card-content .col-6 {
		margin-top: 10px;
	}

	ion-avatar{
		line-height: 40px;
		text-align: center;
		background: #3F51B5;
		border-radius: 50%;
		color: #fff;
	}

	.arrow{
		margin-left:5px; 
		font-size: 12px;
	}
}
